<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reseptipankki</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

	<div class="container">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">My Recipes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/recipelist">All recipes<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="/addrecipe">Add recipe</a>
      <a class="nav-item nav-link active" href="/categorylist">Categories</a>
      <a class="nav-item nav-link active" href="/addcategory">Add category</a>
    </div>
  </div>
</nav>

<br/>
	
	<h1>Add a new category</h1>
	
	<br/>
	
	<div>
		<form th:object="${category}" th:action="@{addcategory}" action="#" method="post">
			<table>
				<tr>
					<td>Name of the category:</td>
					<td><input type="text" id="name" th:field="*{categoryName}"/></td>
					<td th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}">Category Error</td>
				</tr>
				
				<tr> </tr>
				
				<tr>
					<td><br/><button class="btn btn-dark" type="submit">Save</button></td>
				</tr>
			
			</table>		
		</form>
		
	</div>
	
	</div>
    
</body>
</html>