<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Reseptipankki</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
</head>

<body>

<div class="container">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">My Recipes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/recipelist">All recipes<span class="sr-only">(current)</span></a>
      <a sec:authorize="hasAuthority('ADMIN')" class="nav-item nav-link active" href="/addrecipe">Add a recipe</a>
      <a class="nav-item nav-link active" href="/categorylist">Categories</a>
      <a sec:authorize="hasAuthority('ADMIN')" class="nav-item nav-link active" href="/addcategory">Add a category</a>
      <a class="nav-item nav-link active" href="/collections">Blogs</a>
      <a class="nav-item nav-link active" href="/restapi">Rest API</a>
    </div>
  </div>
      <div class="nav navbar-nav navbar-right justify-content-between" style="padding:20px 0">
		<span class="navbar-text">[[${#httpServletRequest.remoteUser}]]</span>
		<form style="padding-left: 15px" th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-dark"/>
		</form>
	</div>
</nav>

<br/>
	
	<h1>Add a new recipe</h1>
	
	<div>
		<form th:object="${recipe}" th:action="@{addrecipe}" action="#" method="post" class="mt-5">
		
			<table>
				<tr>
					<td style="padding-right: 15px">Header:</td>
					<td><input type="text" id="title" placeholder="Header for the recipe" th:field="*{header}"/></td>
					<td th:if="${#fields.hasErrors('header')}" th:errors="*{header}">Header Error</td>
				</tr>
				<tr>
					<td style="padding-right: 15px">Comments:</td>	
					<td><input type="text" id="comment" placeholder="Comments" th:field="*{comment}"/></td>		
				</tr>
				<tr>
					<td style="padding-right: 15px">Rating:</td>
					<td><input type="text" id="rating" placeholder="Rating 1-5" th:field="*{rating}"/></td>
					<td th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">Rating Error</td>
				</tr>
				<tr>
					<td style="padding-right: 15px">Link to the recipe:</td>	
					<td><input type="text" id="comment" placeholder="Link to the recipe webpage" th:field="*{recipeLink}"/></td>		
				</tr>			
			</table>
			
			<br/>			
			
			<div class="form-group">
			<label class="dropdown" for="categorylist">Category</label>
				<select id="categorylist" th:field="*{category}" class="form-control">
					<option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
				</select>
			</div>			
			
			<br/>
			
			<button class="btn btn-dark" type="submit">Save</button>
		
		</form>
	
	
	</div>
	
	</div>
    
</body>
</html>