<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reseptipankki</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

	<div class="container">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">My Recipes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/recipelist">All recipes<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="/addrecipe">Add recipe</a>
      <a class="nav-item nav-link active" href="/categorylist">Categories</a>
      <a class="nav-item nav-link active" href="/addCategory">Add category</a>
    </div>
  </div>
</nav>

<br/>
	
	<h1>Add a new recipe</h1>
	
	<br/>
	
	<div>
		<form th:object="${recipe}" th:action="@{addrecipe}" action="#" method="post">
		
			<table>
				<tr>
					<td>Header:</td>
					<td><input type="text" id="title" placeholder="Header for the recipe" th:field="*{header}"/></td>
					<td th:if="${#fields.hasErrors('header')}" th:errors="*{header}">Header Error</td>
				</tr>
				<tr>
					<td>Description:</td>	
					<td><input type="text" id="description" placeholder="Description" th:field="*{description}"/></td>		
				</tr>
				<tr>
					<td>Rating:</td>
					<td><input type="text" id="rating" placeholder="Rating 1-5" th:field="*{rating}"/></td>
					<td th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">Rating Error</td>
				</tr>			
			</table>
			
			<br/>
			
			<div class="form-group">
				<input type="checkbox" class="form-check-input" id="recipetried">
				<label for="recipetried">Have you already tried this recipe?</label>
			</div>			
			
			
			<div class="form-group">
			<label class="dropdown" for="categorylist">Category</label>
				<select id="categorylist" th:field="*{category}" class="form-control">
					<option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
				</select>
			</div>			
			
			<br/>
			
			<button class="btn btn-dark" type="submit">Save</button>
		
		</form>
	
	
	</div>
	
	</div>
    
</body>
</html>