<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Reseptipankki</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	
	<div class="container">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">My Recipes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/recipelist">All recipes<span class="sr-only">(current)</span></a>
      <a sec:authorize="hasAuthority('ADMIN')" class="nav-item nav-link active" href="/addrecipe">Add a recipe</a>
      <a class="nav-item nav-link active" href="/categorylist">Categories</a>
      <a sec:authorize="hasAuthority('ADMIN')" class="nav-item nav-link active" href="/addcategory">Add a category</a>
    </div>
  </div>
      <div class="nav navbar-nav navbar-right justify-content-between" style="padding:20px 0">
		<span class="navbar-text">[[${#httpServletRequest.remoteUser}]]</span>
		<form style="padding-left: 15px" th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-dark"/>
		</form>
	</div>
</nav>

<br/>
	
	<h1>Categories</h1>
	
	<br/>
	
	<table class="table">
	<thead class="thead-light">
		<tr>
			<th>Name</th>
			<th> </th>
		</tr>
		
		<tr th:each="category : ${categories}">
		<td th:text="${category.categoryName}">Name</td>
		<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-outline-danger" th:href="@{/deletecategory/{categoryid}(categoryid=${category.categoryId})}">Delete</a></td>
		</tr>
		
	</table>
	
	<br/>
	
	<a sec:authorize="hasAuthority('ADMIN')" href="/addcategory" class="btn btn-dark">Add new category</a>
	
	</div>
    
</body>

</html>