<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reseptipankki</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	
	<h1>Edit your recipe</h1>
	
	<div>
		<form th:object="${recipe}" th:action="@{../save}" action="#" method="post">
			
			<input type="hidden" id="id" th:field="*{recipeId}" readonly="readonly"/>
			
			<div class="form-group">
			<label for="header">Header</label>
			<input type="text" id="title" th:field="*{header}"/>
			</div>
			
			<div class="form-group">
			<label for="description">Description</label>
			<input type="text" id="description" th:field="*{description}"/>
			</div>
			
			<div class="form-group">
			<label for="tried">Tried</label>
			<input type="text" id="tried" th:field="*{tried}"/>
			</div>
			
			<div class="form-group">
			<label for="rating">Rating</label>
			<input type="text" id="rating" th:field="*{rating}"/>
			</div>
			
			<div class="form-group">
			<label class="dropdown" for="categorylist">Category</label>
				<select id="categorylist" th:field="*{category}" class="form-control">
					<option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
				</select>
			</div>	
			
			<br/>
			
			<button class="btn btn-dark" type="submit">Save</button>
		
		</form>
	
	
	</div>

    
</body>
</html>