<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Reseptipankki</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>




<div class="container">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">My Recipes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/recipelist">All recipes<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="/addrecipe">Add recipe</a>
      <a class="nav-item nav-link active" href="/categorylist">Categories</a>
      <a class="nav-item nav-link active" href="/addCategory">Add category</a>
    </div>
  </div>
</nav>

<br/>
	
	<table class="table">
	<thead class="thead-light">
		<tr>
			<th scope="col">Category</th>
			<th scope="col">Recipe</th>
			<th scope="col">Description</th>
			<th scope="col">Tried</th>
			<th scope="col">Rating</th>
			<th> </th>
			<th> </th>
		</tr>
		
		<tr th:each="recipe : ${recipes}">
		<td th:text="${recipe.category.categoryName}">Category</td>
		<td th:text="${recipe.header}">Header</td>
		<td th:text="${recipe.description}">Description</td>
		<td th:text="${recipe.tried}">Tried</td>
		<td th:text="${recipe.rating}">Rating</td>
		<td><a th:href="@{/delete/{id}(id=${recipe.recipeId})}">Delete</a></td>
		<td><a th:href="@{/edit/{id}(id=${recipe.recipeId})}">Edit</a></td>
		</tr>
		
	</table>
	
	<br/>
	
	<a href="/addrecipe" class="btn btn-dark">Add new recipe</a>
	
</div> 


</body>